.Results section {
  margin: 20px 0;
  padding: 20px;
  background: white;
  border-radius: 8px;
}

.Results h2 {
  font-size: 38px;
  line-height: 1.5;
  margin: 0;
}

.Results h4 {
  font-size: 18px;
  line-height: 1.5;
  margin: 10px 0;
}

.Results p {
  margin: 0;
}

.Results ul {
  margin: 0;
  padding: 0;
}
.Results li {
  display: inline-block;
  margin: 20px 10px 10px 0px;
  padding: 0;
  font-style: italic;
  opacity: 0.6;
}
